= form_for @question do |f|

  - if @question.errors.present?
    .alert.alert-danger
      - @question.errors.full_messages.each do |message|
        .message= message

  .container
    %p You can add formatting to your question using markdown. For example: Hello, **this** is bold and _this_ is italic.

  .container
    %p= markdown("Hello, **this** is bold and _this_ is italic.")

  .container
    %p<
      Here's a &nbsp;
      %a{:href => 'http://ruby-lang.org'}>cheatsheet
      &nbsp; for the interested reader.

  .form-group
    = f.label :question
    = f.text_area :question, class: 'form-control'

  .form-group
    = f.label :answer
    = f.text_field :answer, class: 'form-control'

  = f.submit nil, class: 'btn btn-primary'
